{
  "plugins": [
    "import",
    "jsx-a11y",
    "react"
  ],
  "extends": "airbnb",
  "env": {
    "browser": true,
    "es6": true,
    "jquery": true
  },
  "globals": {
    "Vue": false,
    "Vuex": false
  },
  "root": true
}
